---
import project1Webm from "../assets/gif_proyectofutbol.webm";
import project2Webm from "../assets/gif_trainerproyecto.webm";
import project3Webm from "../assets/juegos-colores.webm";
import project4Webm from "../assets/proyectochina.webm";
import project5Webm from "../assets/rfidhub.webm";
---

<style>
    .projects {
        background-color: #ebe5dc; /* beige */
        background-size: cover;
        background-position: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "project1 project2"
            "project5 project3"
            "project4 project4";
        gap: 2rem; /* gap-8 */
        padding: 2rem 15rem; /* p-8 with left and right padding */
        position: relative;
        overflow: hidden;
    }

    .project {
        position: relative;
        overflow: hidden;
        border-radius: 10px; /* rounded-lg */
        height: 500px; /* Set a fixed height for the project images */
    }

    .project video {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensure the video covers the entire container */
        display: block;
        transition: transform 0.3s;
        clip-path: inset(100% 0 0 0);
        animation: reveal 2s forwards;
    }

    .project:hover video {
        transform: scale(1.05);
    }

    .project .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s;
        text-align: center;
        padding: 1rem;
        box-sizing: border-box;
    }

    .project .overlay h3 {
        font-size: 3rem; /* text-base */
        padding-bottom: 2.5%;
        font-weight: bold; /* Make the text bold */
    }

    .project .overlay p {
        padding-bottom: 3%;
        font-size: 1.2rem; /* text-base */
    }

    .project .overlay a {
        display: inline-block;
        padding: 0.5rem 1rem;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .project .overlay a:hover {
        background-color: #555;
    }

    .project:hover .overlay {
        opacity: 1;
    }

    .project1 {
        grid-area: project1;
    }

    .project2 {
        grid-area: project2;
    }

    .project3 {
        grid-area: project3;
    }

    .project4 {
        grid-area: project4;
    }

    .project5 {
        grid-area: project5;
    }

    @media (max-width: 1280px) {
        .projects {
            grid-template-columns: 1fr; /* Single column layout for medium screens */
            grid-template-areas:
                "project1"
                "project2"
                "project5"
                "project3"
                "project4";
            padding: 3rem; /* Adjust padding for medium screens */
        }

        .project {
            height: 500px; /* Adjust height for medium screens */
        }
    }

    @keyframes reveal {
        0% {
            clip-path: inset(100% 0 0 0);
        }
        100% {
            clip-path: inset(0 0 0 0);
        }
    }
</style>

<section id="projects" class="projects">
    <div class="project project1">
        <video autoplay loop muted playsinline>
            <source src={project1Webm} type="video/webm" />
            Your browser does not support the video tag.
        </video>
        <div class="overlay">
            <h3>FOOTBALL MANAGER</h3>
            <p>
                A soccer team management app using a CRUD system with Node.js and React, deployed on AWS Lightsail. It manages player data and offers filtering options. Technologies used include MongoDB, Express.js, React, and Node.js. Currently, I'm migrating it to more modern technologies.
            </p>
            <a title="Interactive demo of Football Manager project" aria-label="View the interactive demo of Football Manager project" href="https://fuchi-manager.onrender.com/">View Demo</a>
        </div>
    </div>
    <div class="project project2">
        <video autoplay loop muted playsinline>
            <source src={project2Webm} type="video/webm" />
            Your browser does not support the video tag.
        </video>
        <div class="overlay">
            <h3>HOW TRAINNER</h3>
            <p>
                A system migrated from Python-based software to a MERN stack environment for a surgical training simulator. It records exercise durations and enables graphical analysis of best times and completed repetitions. The system uses MongoDB, Express.js, React, and Node.js technologies.
            </p>
        </div>
    </div>
    <div class="project project3">
        <video autoplay loop muted playsinline>
            <source src={project3Webm} type="video/webm" />
            Your browser does not support the video tag.
        </video>
        <div class="overlay">
            <h3>GAME COLORS</h3>
            <p>
                A mental agility game built with React and MongoDB to track and store reaction times. The game challenges users to quickly select the correct color based on visual cues, testing their decision-making and focus. The application is deployed on Vercel for easy access and performance.
            </p>
            <a title="Interactive demo of Game Colors project" aria-label="View the interactive demo of Game Colors project" href="https://coloresfront.onrender.com/">View Demo</a>
        </div>
    </div>
    <div class="project project4">
        <video autoplay loop muted playsinline>
            <source src={project4Webm} type="video/webm" />
            Your browser does not support the video tag.
        </video>
        <div class="overlay">
            <h3>ONE TO ONE</h3>
            <p>
                A system for a one-to-one courier company that uses HTML and CSS for the interface, JavaScript for interactivity, and Firebase with Firestore for real-time data management. Firebase Cloud Functions are used to update shipment statuses and send email notifications, while Node.js manages server processes and facilitates communication between the client, backend, and database.
            </p>
        </div>
    </div>
    <div class="project project5">
        <video autoplay loop muted playsinline>
            <source src={project5Webm} type="video/webm" />
            Your browser does not support the video tag.
        </video>
        <div class="overlay">
            <h3>RFIDHUB</h3>
            <p>
                An API for RFID card authentication developed in Node.js, handling user authentication using UID data from the cards. It offers endpoints for managing users, roles, and access control.
            </p>
            <a title="Interactive demo of RFIDHUB project" aria-label="View the interactive demo of RFIDHUB project" href="https://www.youtube.com/watch?v=89fvR8XMqS8">View Demo</a>
        </div>
    </div>
</section>
