---
import project1Webm from "../assets/gif_proyectofutbol.webm";
import project2Webm from "../assets/gif_trainerproyecto.webm";
import project3Webm from "../assets/juegos-colores.webm";
import project4Webm from "../assets/proyectochina.webm";
import project5Webm from "../assets/rfidhub.webm";
---

<style>
    .projects {
        background-color: #ebe5dc; /* beige */
        background-size: cover;
        background-position: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "project1 project2"
            "project5 project3"
            "project4 project4";
        gap: 2rem; /* gap-8 */
        padding: 2rem 15rem; /* p-8 with left and right padding */
        position: relative;
        z-index: 1000; /* Alto para estar sobre otras secciones */
        overflow: hidden;
    }

    .project {
        position: relative;
        overflow: hidden;
        border-radius: 10px; /* rounded-lg */
        height: 500px; /* Set a fixed height for the project images */
    }

    .project video {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensure the video covers the entire container */
        display: block;
        transition: transform 0.3s;
    }

    .project:hover video {
        transform: scale(1.05);
    }

    .project .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s;
        text-align: center;
        padding: 1rem;
        box-sizing: border-box;
    }

    .project .overlay p {
        margin-bottom: 1rem;
    }

    .project .overlay a {
        display: inline-block;
        padding: 0.5rem 1rem;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .project .overlay a:hover {
        background-color: #555;
    }

    .project:hover .overlay {
        opacity: 1;
    }

    .project1 {
        grid-area: project1;
    }
    .project2 {
        grid-area: project2;
    }
    .project3 {
        grid-area: project3;
    }
    .project4 {
        grid-area: project4;
    }
    .project5 {
        grid-area: project5;
    }

    @media (max-width: 1024px) {
        .projects {
            grid-template-columns: 1fr; /* Single column layout for medium screens */
            grid-template-areas:
                "project1"
                "project2"
                "project5"
                "project3"
                "project4";
            padding: 2rem; /* Adjust padding for medium screens */
        }

        .project {
            height: 400px; /* Adjust height for medium screens */
        }
    }

    @media (max-width: 768px) {
        .projects {
            grid-template-columns: 1fr; /* Single column layout for small screens */
            padding: 1rem; /* Adjust padding for small screens */
        }

        .project {
            height: 300px; /* Adjust height for small screens */
        }
    }

    @media (max-width: 480px) {
        .projects {
            grid-template-columns: 1fr; /* Single column layout for extra small screens */
            padding: 1rem; /* Adjust padding for extra small screens */
        }

        .project {
            height: 200px; /* Adjust height for extra small screens */
        }
    }

    @keyframes reveal {
        0% {
            clip-path: inset(100% 0 0 0);
        }
        100% {
            clip-path: inset(0 0 0 0);
        }
    }
    .project video {
        clip-path: inset(100% 0 0 0);
        animation: reveal 2s forwards;
    }

    @keyframes reveal {
        0% {
            clip-path: inset(100% 0 0 0);
        }
        100% {
            clip-path: inset(0 0 0 0);
        }
    }
</style>

<section id="projects" class="projects">
    <div class="project project1">
        <video autoplay loop muted playsinline>
            <source src={project1Webm} type="video/webm" />
            <source src={project1Mp4} type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <div class="overlay">
            <h3>FOOTBALL MANAGER</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam.
            </p>
            <a href="#demo2">Demo</a>
        </div>
    </div>
    <div class="project project2">
        <video autoplay loop muted playsinline>
            <source src={project2Webm} type="video/webm" />
            <source src={project2Mp4} type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <div class="overlay">
            <h3>HOW TRAINNER</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam.
            </p>
            
        </div>
    </div>
    <div class="project project3">
        <video autoplay loop muted playsinline>
            <source src={project3Webm} type="video/webm" />
            <source src={project3Mp4} type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <div class="overlay">
            <h3>GAME COLORS</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam.
            </p>
            <a href="#demo2">Demo</a>
        </div>
    </div>
    <div class="project project4">
        <video autoplay loop muted playsinline>
            <source src={project4Webm} type="video/webm" />
            <source src={project4Mp4} type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <div class="overlay">
            <h3>ONE TO ONE</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam.
            </p>
            
        </div>
    </div>
    <div class="project project5">
        <video autoplay loop muted playsinline>
            <source src={project5Webm} type="video/webm" />
            <source src={project5Mp4} type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <div class="overlay">
            <h3>RFIDHUB</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam.
            </p>
            <a href="#demo2">Demo</a>
        </div>
    </div>
</section>
